20220226_A1908G2_WS_116_A1908G18/WCEmployee/src/conf/xml-resources/web-service-references/EmployeeWebService/wsdl/localhost_8080/WSEmployee/EmployeeWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://services/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://services/" name="EmployeeWebService">
<types>
<xsd:schema>
<xsd:import namespace="http://services/" schemaLocation="http://localhost:8080/WSEmployee/EmployeeWebService?xsd=1" />
</xsd:schema>
</types>
<message name="hello">
<part name="parameters" element="tns:hello" />
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse" />
</message>
<message name="adding">
<part name="parameters" element="tns:adding" />
</message>
<message name="addingResponse">
<part name="parameters" element="tns:addingResponse" />
</message>
<message name="gettingAll">
<part name="parameters" element="tns:gettingAll" />
</message>
<message name="gettingAllResponse">
<part name="parameters" element="tns:gettingAllResponse" />
</message>
<message name="deleting">
<part name="parameters" element="tns:deleting" />
</message>
<message name="deletingResponse">
<part name="parameters" element="tns:deletingResponse" />
</message>
<portType name="EmployeeWebService">
<operation name="hello">
<input wsam:Action="http://services/EmployeeWebService/helloRequest" message="tns:hello" />
<output wsam:Action="http://services/EmployeeWebService/helloResponse" message="tns:helloResponse" />
</operation>
<operation name="adding">
<input wsam:Action="http://services/EmployeeWebService/addingRequest" message="tns:adding" />
<output wsam:Action="http://services/EmployeeWebService/addingResponse" message="tns:addingResponse" />
</operation>
<operation name="gettingAll">
<input wsam:Action="http://services/EmployeeWebService/gettingAllRequest" message="tns:gettingAll" />
<output wsam:Action="http://services/EmployeeWebService/gettingAllResponse" message="tns:gettingAllResponse" />
</operation>
<operation name="deleting">
<input wsam:Action="http://services/EmployeeWebService/deletingRequest" message="tns:deleting" />
<output wsam:Action="http://services/EmployeeWebService/deletingResponse" message="tns:deletingResponse" />
</operation>
</portType>
<binding name="EmployeeWebServicePortBinding" type="tns:EmployeeWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
<operation name="hello">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="adding">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="gettingAll">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="deleting">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
</binding>
<service name="EmployeeWebService">
<port name="EmployeeWebServicePort" binding="tns:EmployeeWebServicePortBinding">
<soap:address location="http://localhost:8080/WSEmployee/EmployeeWebService" />
</port>
</service>
</definitions>