WSPratice/WSClient/src/wsdl/localhost_8080/WSApp/EmployeeWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is Metro/2.4.4 (RELEASE-2.4.4-ce05bec; 2020-04-17T12:44:48+0000) JAXWS-RI/2.3.3 JAXWS-API/2.3.3 JAXB-RI/2.3.3 JAXB-API/2.3.3 git-revision#unknown. --><!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is Metro/2.4.4 (RELEASE-2.4.4-ce05bec; 2020-04-17T12:44:48+0000) JAXWS-RI/2.3.3 JAXWS-API/2.3.3 JAXB-RI/2.3.3 JAXB-API/2.3.3 git-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://services/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://services/" name="EmployeeWS">
<types>
<xsd:schema>
<xsd:import namespace="http://services/" schemaLocation="http://localhost:8080/WSApp/EmployeeWS?xsd=1"/>
</xsd:schema>
</types>
<message name="findAll">
<part name="parameters" element="tns:findAll"/>
</message>
<message name="findAllResponse">
<part name="parameters" element="tns:findAllResponse"/>
</message>
<message name="updateEmployee">
<part name="parameters" element="tns:updateEmployee"/>
</message>
<message name="updateEmployeeResponse">
<part name="parameters" element="tns:updateEmployeeResponse"/>
</message>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<message name="insertEmployee">
<part name="parameters" element="tns:insertEmployee"/>
</message>
<message name="insertEmployeeResponse">
<part name="parameters" element="tns:insertEmployeeResponse"/>
</message>
<message name="deleteEmployee">
<part name="parameters" element="tns:deleteEmployee"/>
</message>
<message name="deleteEmployeeResponse">
<part name="parameters" element="tns:deleteEmployeeResponse"/>
</message>
<portType name="EmployeeWS">
<operation name="findAll">
<input wsam:Action="http://services/EmployeeWS/findAllRequest" message="tns:findAll"/>
<output wsam:Action="http://services/EmployeeWS/findAllResponse" message="tns:findAllResponse"/>
</operation>
<operation name="updateEmployee">
<input wsam:Action="http://services/EmployeeWS/updateEmployeeRequest" message="tns:updateEmployee"/>
<output wsam:Action="http://services/EmployeeWS/updateEmployeeResponse" message="tns:updateEmployeeResponse"/>
</operation>
<operation name="hello">
<input wsam:Action="http://services/EmployeeWS/helloRequest" message="tns:hello"/>
<output wsam:Action="http://services/EmployeeWS/helloResponse" message="tns:helloResponse"/>
</operation>
<operation name="insertEmployee">
<input wsam:Action="http://services/EmployeeWS/insertEmployeeRequest" message="tns:insertEmployee"/>
<output wsam:Action="http://services/EmployeeWS/insertEmployeeResponse" message="tns:insertEmployeeResponse"/>
</operation>
<operation name="deleteEmployee">
<input wsam:Action="http://services/EmployeeWS/deleteEmployeeRequest" message="tns:deleteEmployee"/>
<output wsam:Action="http://services/EmployeeWS/deleteEmployeeResponse" message="tns:deleteEmployeeResponse"/>
</operation>
</portType>
<binding name="EmployeeWSPortBinding" type="tns:EmployeeWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="findAll">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="updateEmployee">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="insertEmployee">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="deleteEmployee">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="EmployeeWS">
<port name="EmployeeWSPort" binding="tns:EmployeeWSPortBinding">
<soap:address location="http://localhost:8080/WSApp/EmployeeWS"/>
</port>
</service>
</definitions>