WCStudentPractice2/web/WEB-INF/wsdl/localhost_8080/WSStudentPractice2/StudentWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://services/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://services/" name="StudentWS">
<types>
<xsd:schema>
<xsd:import namespace="http://services/" schemaLocation="http://localhost:8080/WSStudentPractice2/StudentWS?xsd=1" />
</xsd:schema>
</types>
<message name="hello">
<part name="parameters" element="tns:hello" />
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse" />
</message>
<message name="update">
<part name="parameters" element="tns:update" />
</message>
<message name="updateResponse">
<part name="parameters" element="tns:updateResponse" />
</message>
<message name="find">
<part name="parameters" element="tns:find" />
</message>
<message name="findResponse">
<part name="parameters" element="tns:findResponse" />
</message>
<message name="delete">
<part name="parameters" element="tns:delete" />
</message>
<message name="deleteResponse">
<part name="parameters" element="tns:deleteResponse" />
</message>
<message name="insert">
<part name="parameters" element="tns:insert" />
</message>
<message name="insertResponse">
<part name="parameters" element="tns:insertResponse" />
</message>
<message name="findAll">
<part name="parameters" element="tns:findAll" />
</message>
<message name="findAllResponse">
<part name="parameters" element="tns:findAllResponse" />
</message>
<portType name="StudentWS">
<operation name="hello">
<input wsam:Action="http://services/StudentWS/helloRequest" message="tns:hello" />
<output wsam:Action="http://services/StudentWS/helloResponse" message="tns:helloResponse" />
</operation>
<operation name="update">
<input wsam:Action="http://services/StudentWS/updateRequest" message="tns:update" />
<output wsam:Action="http://services/StudentWS/updateResponse" message="tns:updateResponse" />
</operation>
<operation name="find">
<input wsam:Action="http://services/StudentWS/findRequest" message="tns:find" />
<output wsam:Action="http://services/StudentWS/findResponse" message="tns:findResponse" />
</operation>
<operation name="delete">
<input wsam:Action="http://services/StudentWS/deleteRequest" message="tns:delete" />
<output wsam:Action="http://services/StudentWS/deleteResponse" message="tns:deleteResponse" />
</operation>
<operation name="insert">
<input wsam:Action="http://services/StudentWS/insertRequest" message="tns:insert" />
<output wsam:Action="http://services/StudentWS/insertResponse" message="tns:insertResponse" />
</operation>
<operation name="findAll">
<input wsam:Action="http://services/StudentWS/findAllRequest" message="tns:findAll" />
<output wsam:Action="http://services/StudentWS/findAllResponse" message="tns:findAllResponse" />
</operation>
</portType>
<binding name="StudentWSPortBinding" type="tns:StudentWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
<operation name="hello">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="update">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="find">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="delete">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="insert">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="findAll">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
</binding>
<service name="StudentWS">
<port name="StudentWSPort" binding="tns:StudentWSPortBinding">
<soap:address location="http://localhost:8080/WSStudentPractice2/StudentWS" />
</port>
</service>
</definitions>