WCLibrary/src/conf/xml-resources/web-service-references/AuthorWebService_1/wsdl/localhost_8084/WSAppLibrary/AuthorWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://services/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://services/" name="AuthorWebService">
<types>
<xsd:schema>
<xsd:import namespace="http://services/" schemaLocation="http://localhost:8084/WSAppLibrary/AuthorWebService?xsd=1" />
</xsd:schema>
</types>
<message name="update">
<part name="parameters" element="tns:update" />
</message>
<message name="updateResponse">
<part name="parameters" element="tns:updateResponse" />
</message>
<message name="delete">
<part name="parameters" element="tns:delete" />
</message>
<message name="deleteResponse">
<part name="parameters" element="tns:deleteResponse" />
</message>
<message name="insert">
<part name="parameters" element="tns:insert" />
</message>
<message name="insertResponse">
<part name="parameters" element="tns:insertResponse" />
</message>
<message name="hello">
<part name="parameters" element="tns:hello" />
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse" />
</message>
<message name="findAll">
<part name="parameters" element="tns:findAll" />
</message>
<message name="findAllResponse">
<part name="parameters" element="tns:findAllResponse" />
</message>
<portType name="AuthorWebService">
<operation name="update">
<input wsam:Action="http://services/AuthorWebService/updateRequest" message="tns:update" />
<output wsam:Action="http://services/AuthorWebService/updateResponse" message="tns:updateResponse" />
</operation>
<operation name="delete">
<input wsam:Action="http://services/AuthorWebService/deleteRequest" message="tns:delete" />
<output wsam:Action="http://services/AuthorWebService/deleteResponse" message="tns:deleteResponse" />
</operation>
<operation name="insert">
<input wsam:Action="http://services/AuthorWebService/insertRequest" message="tns:insert" />
<output wsam:Action="http://services/AuthorWebService/insertResponse" message="tns:insertResponse" />
</operation>
<operation name="hello">
<input wsam:Action="http://services/AuthorWebService/helloRequest" message="tns:hello" />
<output wsam:Action="http://services/AuthorWebService/helloResponse" message="tns:helloResponse" />
</operation>
<operation name="findAll">
<input wsam:Action="http://services/AuthorWebService/findAllRequest" message="tns:findAll" />
<output wsam:Action="http://services/AuthorWebService/findAllResponse" message="tns:findAllResponse" />
</operation>
</portType>
<binding name="AuthorWebServicePortBinding" type="tns:AuthorWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
<operation name="update">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="delete">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="insert">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="hello">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="findAll">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
</binding>
<service name="AuthorWebService">
<port name="AuthorWebServicePort" binding="tns:AuthorWebServicePortBinding">
<soap:address location="http://localhost:8084/WSAppLibrary/AuthorWebService" />
</port>
</service>
</definitions>