WCStudentProject/src/wsdl/localhost_8080/WSStudentProject/StudentWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is Metro/2.4.4 (RELEASE-2.4.4-ce05bec; 2020-04-17T12:44:48+0000) JAXWS-RI/2.3.3 JAXWS-API/2.3.3 JAXB-RI/2.3.3 JAXB-API/2.3.3 git-revision#unknown. --><!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is Metro/2.4.4 (RELEASE-2.4.4-ce05bec; 2020-04-17T12:44:48+0000) JAXWS-RI/2.3.3 JAXWS-API/2.3.3 JAXB-RI/2.3.3 JAXB-API/2.3.3 git-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://services/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://services/" name="StudentWS">
<types>
<xsd:schema>
<xsd:import namespace="http://services/" schemaLocation="http://localhost:8080/WSStudentProject/StudentWS?xsd=1"/>
</xsd:schema>
</types>
<message name="update">
<part name="parameters" element="tns:update"/>
</message>
<message name="updateResponse">
<part name="parameters" element="tns:updateResponse"/>
</message>
<message name="insert">
<part name="parameters" element="tns:insert"/>
</message>
<message name="insertResponse">
<part name="parameters" element="tns:insertResponse"/>
</message>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<message name="findall">
<part name="parameters" element="tns:findall"/>
</message>
<message name="findallResponse">
<part name="parameters" element="tns:findallResponse"/>
</message>
<message name="getone">
<part name="parameters" element="tns:getone"/>
</message>
<message name="getoneResponse">
<part name="parameters" element="tns:getoneResponse"/>
</message>
<portType name="StudentWS">
<operation name="update">
<input wsam:Action="http://services/StudentWS/updateRequest" message="tns:update"/>
<output wsam:Action="http://services/StudentWS/updateResponse" message="tns:updateResponse"/>
</operation>
<operation name="insert">
<input wsam:Action="http://services/StudentWS/insertRequest" message="tns:insert"/>
<output wsam:Action="http://services/StudentWS/insertResponse" message="tns:insertResponse"/>
</operation>
<operation name="hello">
<input wsam:Action="http://services/StudentWS/helloRequest" message="tns:hello"/>
<output wsam:Action="http://services/StudentWS/helloResponse" message="tns:helloResponse"/>
</operation>
<operation name="findall">
<input wsam:Action="http://services/StudentWS/findallRequest" message="tns:findall"/>
<output wsam:Action="http://services/StudentWS/findallResponse" message="tns:findallResponse"/>
</operation>
<operation name="getone">
<input wsam:Action="http://services/StudentWS/getoneRequest" message="tns:getone"/>
<output wsam:Action="http://services/StudentWS/getoneResponse" message="tns:getoneResponse"/>
</operation>
</portType>
<binding name="StudentWSPortBinding" type="tns:StudentWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="update">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="insert">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findall">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getone">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="StudentWS">
<port name="StudentWSPort" binding="tns:StudentWSPortBinding">
<soap:address location="http://localhost:8080/WSStudentProject/StudentWS"/>
</port>
</service>
</definitions>