WCLibrary/src/conf/xml-resources/web-service-references/BookWebService/wsdl/localhost_8084/WSAppLibrary/BookWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://services/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://services/" name="BookWebService">
<types>
<xsd:schema>
<xsd:import namespace="http://services/" schemaLocation="http://localhost:8084/WSAppLibrary/BookWebService?xsd=1" />
</xsd:schema>
</types>
<message name="find">
<part name="parameters" element="tns:find" />
</message>
<message name="findResponse">
<part name="parameters" element="tns:findResponse" />
</message>
<message name="hello">
<part name="parameters" element="tns:hello" />
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse" />
</message>
<message name="findAll">
<part name="parameters" element="tns:findAll" />
</message>
<message name="findAllResponse">
<part name="parameters" element="tns:findAllResponse" />
</message>
<message name="findAuthor">
<part name="parameters" element="tns:findAuthor" />
</message>
<message name="findAuthorResponse">
<part name="parameters" element="tns:findAuthorResponse" />
</message>
<message name="insertBook">
<part name="parameters" element="tns:insertBook" />
</message>
<message name="insertBookResponse">
<part name="parameters" element="tns:insertBookResponse" />
</message>
<message name="update">
<part name="parameters" element="tns:update" />
</message>
<message name="updateResponse">
<part name="parameters" element="tns:updateResponse" />
</message>
<message name="deleteBook">
<part name="parameters" element="tns:deleteBook" />
</message>
<message name="deleteBookResponse">
<part name="parameters" element="tns:deleteBookResponse" />
</message>
<portType name="BookWebService">
<operation name="find">
<input wsam:Action="http://services/BookWebService/findRequest" message="tns:find" />
<output wsam:Action="http://services/BookWebService/findResponse" message="tns:findResponse" />
</operation>
<operation name="hello">
<input wsam:Action="http://services/BookWebService/helloRequest" message="tns:hello" />
<output wsam:Action="http://services/BookWebService/helloResponse" message="tns:helloResponse" />
</operation>
<operation name="findAll">
<input wsam:Action="http://services/BookWebService/findAllRequest" message="tns:findAll" />
<output wsam:Action="http://services/BookWebService/findAllResponse" message="tns:findAllResponse" />
</operation>
<operation name="findAuthor">
<input wsam:Action="http://services/BookWebService/findAuthorRequest" message="tns:findAuthor" />
<output wsam:Action="http://services/BookWebService/findAuthorResponse" message="tns:findAuthorResponse" />
</operation>
<operation name="insertBook">
<input wsam:Action="http://services/BookWebService/insertBookRequest" message="tns:insertBook" />
<output wsam:Action="http://services/BookWebService/insertBookResponse" message="tns:insertBookResponse" />
</operation>
<operation name="update">
<input wsam:Action="http://services/BookWebService/updateRequest" message="tns:update" />
<output wsam:Action="http://services/BookWebService/updateResponse" message="tns:updateResponse" />
</operation>
<operation name="deleteBook">
<input wsam:Action="http://services/BookWebService/deleteBookRequest" message="tns:deleteBook" />
<output wsam:Action="http://services/BookWebService/deleteBookResponse" message="tns:deleteBookResponse" />
</operation>
</portType>
<binding name="BookWebServicePortBinding" type="tns:BookWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
<operation name="find">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="hello">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="findAll">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="findAuthor">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="insertBook">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="update">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="deleteBook">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
</binding>
<service name="BookWebService">
<port name="BookWebServicePort" binding="tns:BookWebServicePortBinding">
<soap:address location="http://localhost:8084/WSAppLibrary/BookWebService" />
</port>
</service>
</definitions>